<div id="question{{question_number}}">
<h4><strong>{{question_title}}</strong></h4>
<p class="text">{{question_text}}</p>
<div id="question{{question_number}}buttons">
<a class="btn btn-default" id="question{{question_number}}-option1">strongly disagree</a>
<a class="btn btn-default" id="question{{question_number}}-option2">disagree</a>
<a class="btn btn-default"  id="question{{question_number}}-option3">slightly disagree</a>
<a class="btn btn-default"  id="question{{question_number}}-option4">neutral</a>
<a class="btn btn-default"  id="question{{question_number}}-option5">slightly agree</a>
<a class="btn btn-default" id="question{{question_number}}-option6">agree</a>
<a class="btn btn-default" id="question{{question_number}}-option7">strongly agree</a>
</div>
</div>